@import './const.css';

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colourDBlu);
    color: var(--colourOrg);

    font-family: var(--pageFont);
}

.mainbox {
    text-align: center;
    height: var(--mainPageSize);
}

/* HEADER */
.header {
    font-display: inline-block;
    width: var(--aboutMainWidth);
    height: var(--aboutHeaderHeight);
}

.title {
    display: flex;
    justify-content: center;
    flex-direction: row;

    color: var(--colourWht);
    font-family: var(--headerFont);
    font-size: var(--aboutTitleFont);
}

.txtA {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.home {
    height: var(--aboutHeaderHeight);
    color: var(--colourOrg);
    font-size: var(--aboutHomeBtnFont);
}

.subTxtHome {
    margin-top: var(--aboutFontSubTxtMargin);
    font-size: var(--aboutBodyFont);
}

/* MAIN BODY */
.center {
    background-color: var(--colourDBlu);
    -moz-box-shadow: 0 0 30px var(--colourBlk);
    -webkit-box-shadow: 0 0 30px var(--colourBlk);
    box-shadow: 0 0 30px var(--colourBlk);

    height: var(--aboutMainHeight);
}

/* MAIN BODY COLUMNS */
.centerColumns {
    display: flex;
    float: left;
    justify-content: left;
    align-items: left;
    flex-direction: column;

    height: var(--aboutMainHeight);
}

.aboutCol,
.formCol {
    width: var(--aboutSideColumns);
}

.aboutCol {
    justify-content: right;
    align-items: right;
}

.formCol {
    justify-content: left;
    align-items: left;
    flex-direction: column;
}

/* MAIN BODY TEXT */
.txtBody {
    margin: auto;
    padding-left: var(--aboutBodyFont);
    padding-right: var(--aboutBodyFont);

    font-size: var(--aboutBodyFont);
}

.txtEmphasis {
    color: var(--colourWht);
}

/* CONTACT FORM */
.input {
    padding-bottom: var(--aboutBodyFont);

    height: var(--aboutBodyFont);
    width: var(--aboutFormSizeWidth);

    direction: none;
    border: none;
    background-color: var(--colourLOrg);
}
.inputMsg {
    height: var(--aboutHomeBtnFont);
}

/* Send Btn */
.btnSend {
    height: var(--navDiameter);
    border: none;
    background-color: var(--colourDBlu);
    text-decoration: none;
}

.cirSend {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--navDiameter);
    height: var(--navDiameter);

    background-color: var(--colourDBlu);

    border-radius: calc(var(--navWidth)/2);
    -moz-border-radius: calc(var(--navWidth)/2);
    -webkit-border-radius: calc(var(--navWidth)/2);

    border: var(--borderSize) solid var(--colourOrg);
}

.titleSend {
    display: none;
    text-align: fill;
    border-radius: calc(var(--navDiameter)/2);
    -moz-border-radius: calc(var(--navDiameter)/2);
    -webkit-border-radius: calc(var(--navDiameter)/2);
    font-size: small;

    border: var(--borderSize) solid var(--colourOrg);
    color: var(--colourWht);
}

/*CANVAS SHAPE*/
.canvasShape {
    margin-top: var(--aboutCenterShapeMarginTop);

    width: var(--aboutMainShape);
    height: var(--aboutMainShape);
    /* background-color: coral; */
}

/* HYPERLINKS */
a {
    background-color: transparent;
    text-decoration: none;
}

a:link {
    color: var(--colourWht);
}

a:visited {
    color: inherit;
}

a:hover {
    color: var(--colourRd);
}

a:active {
    color: var(--colourGr);
}


.homeBtn:link {
    color: var(--colourOrg);
}

.homeBtn:visited {
    color: inherit;
}

.homeBtn:hover {
    color: var(--colourRd);
}

.homeBtn:active {
    color: var(--colourGr);
}