:root {
    /* color */
    --colour1: #F5CF8E;
    --colour2: #b7a2e4;
    --colour3: #dbfed6;
    --colour4: #616161;
    --colour5: #000000;
    --colour6: #9aabf0;
    --colour7: #f0e99a;
  
    --colourBg: #f9fade;
    --colourLn: var(--colour5);
  
    /* size */
    --mainPageSize: 95vmin ;
  
    --mainCircleContainerSize: calc(var(--mainPageSize)*0.5);
    --outerCircleContainerSize: calc(var(--mainPageSize)*0.25);
  
    --circleMargin: calc(var(--mainPageSize)*0.075);
  
    --bottomCircleContainerSize: var(--mainCircleContainerSize);
  
    --mainDiameter: var(--mainCircleContainerSize);
    --outerDiameter: calc(var(--mainCircleContainerSize)*0.25);
  
    --canvasSize: var(--mainCircleContainerSize);
  
    --borderSize: calc(var(--outerDiameter)*0.025);
    --pointSize: calc(var(--borderSize)/0.025);
    --iconSize: calc(var(--outerDiameter)*0.8);
  
    /* margin math */
    --topMarginVertical: calc((var(--mainPageSize)*0.25) - (var(--circleMargin) + var(--outerDiameter)));
    --topMarginHorizontal: calc(var(--mainCircleContainerSize) - (var(--outerDiameter)*0.5));
  
    --sideMarginHorizontalRight: calc((-0.02 * var(--mainDiameter)) - (0.02 * var(--outerDiameter)) + var(--circleMargin));
    --sideMarginHorizontalLeft: calc(var(--outerCircleContainerSize) - (var(--sideMarginHorizontalRight) + var(--outerDiameter)));
    --sideMarginVertical: calc((0.35 * var(--mainDiameter)) - (0.65 * var(--outerDiameter)) - var(--circleMargin));
  
    --bottomMarginHorizontalRight: calc((0.29 * var(--mainDiameter)) - (0.21 * var(--outerDiameter)) + var(--circleMargin));
    --bottomMarginHorizontalLeft: calc(var(--mainCircleContainerSize) - (var(--bottomMarginHorizontalRight) + var(--outerDiameter)));
    --bottomMarginVertical: calc((-0.1 * var(--mainDiameter)) - (0.1 * var(--outerDiameter)) + var(--circleMargin));
  }