:root {
    /* color */
    /* https://www.allacronyms.com/color/abbreviations */

    --colourOrg: #EBA63F;
    --colourGr: #438945;
    --colourRd: #E40C2B;
    --colourPpl: #AC54EA;
    --colourLBlu: #3CBCC3;
    --colourDBlu: #1D1D2C;
    --colourWht: #F7F4E9;
    --colourBlk: #000;
    
    /* size */
    --mainPageSize: 95vmin;
  
    --mainCircleContainerSize: calc(var(--mainPageSize)*0.5);
    --outerCircleContainerSize: calc(var(--mainPageSize)*0.25);

    --headerHeight: var(--outerCircleContainerSize);
    --navWidth: calc(var(--mainPageSize)/5);
    --navHeight: calc(var(----outerCircleContainerSize)/2);
  
    --circleMargin: calc(var(--mainPageSize)*0.075);
  
    --bottomCircleContainerSize: var(--mainCircleContainerSize);
  
    --mainDiameter: var(--mainCircleContainerSize);
    --outerDiameter: calc(var(--mainCircleContainerSize)*0.25);
    --navDiameter: calc(var(--navWidth)*0.25);
  
    --devWidth: calc(var(--mainCircleContainerSize)*0.75);
    
    --canvasSize: var(--mainCircleContainerSize);
  
    --borderSize: calc(var(--outerDiameter)*0.025);
    --pointSize: calc(var(--borderSize)/0.025);
    --iconSize: calc(var(--outerDiameter)*0.8);
    --iconSizeNavbar: calc(var(--navDiameter)*0.8);
  
    /* margin math */
    --devColumnMargin: calc(var(--outerDiameter)*0.5);

    --topMarginVertical: calc((var(--mainPageSize)*0.25) - (var(--circleMargin) + var(--outerDiameter)));
    --topMarginHorizontal: calc(var(--mainCircleContainerSize) - (var(--outerDiameter)*0.5));
  
    --sideMarginHorizontalRight: calc((-0.02 * var(--mainDiameter)) - (0.02 * var(--outerDiameter)) + var(--circleMargin));
    --sideMarginHorizontalLeft: calc(var(--outerCircleContainerSize) - (var(--sideMarginHorizontalRight) + var(--outerDiameter)));
    --sideMarginVertical: calc((0.35 * var(--mainDiameter)) - (0.65 * var(--outerDiameter)) - var(--circleMargin));
  
    --bottomMarginHorizontalRight: calc((0.29 * var(--mainDiameter)) - (0.21 * var(--outerDiameter)) + var(--circleMargin));
    --bottomMarginHorizontalLeft: calc(var(--mainCircleContainerSize) - (var(--bottomMarginHorizontalRight) + var(--outerDiameter)));
    --bottomMarginVertical: calc((-0.1 * var(--mainDiameter)) - (0.1 * var(--outerDiameter)) + var(--circleMargin));
  }