    @import './const.css';
    @import url('http://fonts.cdnfonts.com/css/boowie');
    @import url('http://fonts.cdnfonts.com/css/helios-antique');

    body {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--colourDBlu);
        color: var(--colourWht);

        font-family: 'Helios Antique', sans-serif;
    }

    .mainbox {
        text-align: center;
        height: var(--mainPageSize);
        width: var(--devMainPageSize);
        /* margin-left: 5%;
            margin-right: 5%; */

        /* background-color: blueviolet; */
    }

    .title {
        align-items: center;
        text-align: center;
        margin-top: var(--devTitleMargin);
        /* width: var(--devWidthColLeft); */

        /* TODO: move to const*/
        font-family: 'BOOWIE', sans-serif;

        font-size: var(--devTitleFont);

        /* background-color: blue; */
        color: var(--colourWht);
    }

    /* Main Body */
    .column {
        display: flex;
        float: left;
        justify-content: left;
        align-items: left;
        text-align: left;
        flex-direction: column;
    }

    .introCol {
        background-color: darkgoldenrod;
        width: var(--devWidthColLeft);
    }

    .contactCol {
        /* background-color: darkgreen; */
        width: var(--devWidthColRight);
    }

    /* Right Column Rows */
    .row {
        display: flex;
        float: left;
        justify-content: left;
        align-items: left;
        text-align: left;
        flex-direction: row;

    }

    .photoRow {
        background-color: aquamarine;
        height: var(--devLeftColRows);
    }

    .introRow {
        background-color: burlywood;
        height: var(--devLeftColRows);
    }

    /* Left Column Rows */
    .headerRow {
        /* background-color: crimson; */
        height: var(--devRightColRowTop);
    }

    .contactFormRow {
        background-color: darkseagreen;
        height: var(--devRightColRowBottom);
    }

    /* Left Column Top Row Column */
    .titleCol {
        /* background-color:fuchsia; */
        height: var(--devRightColRowTop);
        width: var(--devTitleWidth);
    }

    .navBackCol {
        /* background-color: gold; */
        height: var(--devRightColRowTop);
        width: var(--devRightColRowTop);
    }

    /* Boarder Circles */
    .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .photo {
        width: var(--devLeftColCircle);
        height: var(--devLeftColCircle);
        border: var(--borderSize) solid var(--colourOrg);
        border-radius: var(--devLeftColCircle);
        -moz-border-radius: var(--devLeftColCircle);
        -webkit-border-radius: var(--devLeftColCircle);
    }

    .intro {
        width: var(--devLeftColCircle);
        height: var(--devLeftColCircle);
        border: var(--borderSize) solid var(--colourGr);
        border-radius: var(--devLeftColCircle);
        -moz-border-radius: var(--devLeftColCircle);
        -webkit-border-radius: var(--devLeftColCircle);
        background-color: var(--colourLGr);
    }

    .homepage {
        width: var(--outerDiameter);
        height: var(--outerDiameter);
        border: var(--borderSize) solid var(--colourPpl);
        border-radius: var(--outerDiameter);
        -moz-border-radius: var(--outerDiameter);
        -webkit-border-radius: var(--outerDiameter);
    }

    .contactForm {
        width: var(--devRightColCircle);
        height: var(--devRightColCircle);
        border: var(--borderSize) solid var(--colourRd);
        border-radius: var(--devRightColCircle);
        -moz-border-radius: var(--devRightColCircle);
        -webkit-border-radius: var(--devRightColCircle);
        background-color: var(--colourLRd);
    }

    /* Drop down Text */
    .titleBack {
        display: none;
        text-align: center;
        width: var(--outerDiameter);
        border: var(--borderSize) solid var(--colourPpl);
        border-radius: calc(var(--navDiameter)/2);
        -moz-border-radius: calc(var(--navDiameter)/2);
        -webkit-border-radius: calc(var(--navDiameter)/2);
        margin-top: 1%;
        font-size: small;
    }


    /* hyperlinks */
    a {
        background-color: transparent;
        text-decoration: none;
    }
    a:link {
        color: var(--colourRd);
    }
    a:hover {
        color: var(--colourPpl);
    }
    a:visited {
        color: var(--colourRd);
    }
    a:active {
        color: var(--colourGr);
    }

    .txtEmphasis {
        color: var(--colourGr);
    }