@import './const.css';

html,
body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colourDBlu);
}

.page {
  text-align: center;
  height: var(--mainPageSize);
  width: var(--mainPageSize);
  padding-left: 25%;
  padding-right: 25%;
  background-color: var(--colourDBlu);
}

.top {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  float: left;
  width: var(--mainPageSize);
  height: var(--outerCircleContainerSize);
}

.centerColumns {
  display: flex;
  float: left;
  justify-content: left;
  align-items: left;
  flex-direction: column;

  height: var(--mainCircleContainerSize);
}

.cCol1,
.cCol3 {
  width: var(--outerCircleContainerSize);
}

.cCol1 {
  justify-content: right;
  align-items: right;
}

.cCol3 {
  justify-content: left;
  align-items: left;
  flex-direction: column;
}

.bottomColumns {
  display: flex;
  float: left;
  justify-content: left;
  align-items: left;
  flex-direction: column;

  width: var(--bottomCircleContainerSize);
  height: var(--outerCircleContainerSize);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--outerDiameter);
  height: var(--outerDiameter);
 
  border-radius: var(--outerDiameter);
  -moz-border-radius: var(--outerDiameter);
  -webkit-border-radius: var(--outerDiameter);
}

.mainCircle {
  width: var(--mainCircleContainerSize);
  height: var(--mainCircleContainerSize);

  border: none;
}

.cirBottomLeft {
  border: var(--borderSize) solid var(--colourRd);
  margin-top: var(--bottomMarginVertical);
  margin-left: var(--bottomMarginHorizontalLeft);
}

.cirBottomRight {
  border: var(--borderSize) solid var(--colourPpl);
  margin-top: var(--bottomMarginVertical);
  margin-left: var(--bottomMarginHorizontalRight);
}

.cirCenterLeft {
  border: var(--borderSize) solid var(--colourGr);
  margin-top: var(--sideMarginVerticalTime3);
  margin-left: var(--sideMarginHorizontalLeft);
}

.cirCenterRight {
  border: var(--borderSize) solid var(--colourLBlu);
  margin-top: var(--sideMarginVerticalTime3);
  margin-left: var(--sideMarginHorizontalRight);
}

.cirTop {
  border: var(--borderSize) solid var(--colourOrg);
  margin-top: var(--topMarginVertical);
  margin-left: var(--topMarginHorizontal);
}

.title {
  display: none;
  text-align: center;
  width: var(--outerDiameter);
 
  border-radius: calc(var(--outerDiameter)/2);
  -moz-border-radius: calc(var(--outerDiameter)/2);
  -webkit-border-radius: calc(var(--outerDiameter)/2);
 
  font-size: large; 
  color: var(--colourWht);
}

.titleMe {
  border: var(--borderSize) solid var(--colourOrg);
  margin-left: var(--topMarginHorizontal);
}

.titleSkills {
  border: var(--borderSize) solid var(--colourGr);
  margin-left: var(--sideMarginHorizontalLeft);
}

.titleLinkedin {
  border: var(--borderSize) solid var(--colourLBlu);
  margin-left: var(--sideMarginHorizontalRight);
}

.titlePDF {
  border: var(--borderSize) solid var(--colourRd);
  margin-left: var(--bottomMarginHorizontalLeft);
}

.titleProj {
  border: var(--borderSize) solid var(--colourPpl);
  margin-left: var(--bottomMarginHorizontalRight);
}

canvas {
  height: var(--outerCircleContainerSize);
  width: var(--outerCircleContainerSize);
}

